@use './font.scss';
@use './hero.scss';
@use './content.scss';

main {
    padding-bottom: 1em;
}

a,
.link {
    cursor: pointer;
    background: transparent;
    border: 0;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: var(--fw-700);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
    color: hsla(245, 83%, 68%, 1);
    text-decoration: none;
}

.d-none {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1;
}

.justify-center {
    justify-content: center;
}

.grid-flow {
    display: grid;
    gap: var(--gap, 1rem);
}

.m-1 {
    margin: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-10 {
    margin-top: 10em;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.contact {
    padding: 1.5em 1em;
    padding-bottom: 0.5em;
}

footer {
    position: sticky; bottom: 0;
    width: 100%;
    background-color: #343a40;
    display: flex;
    gap: 1em;
    padding: 0.25em 0;
    word-wrap: break-word;
}

.footer-text {
    padding: 0.1em 0 0 0.5em;
    color: #9fadb9;
}

.footer-link {
    padding-top: 0.1em;
    text-decoration: none;
    background-color: transparent;
    color: hsla(245, 83%, 68%, 1);
}