@use './font.scss';
@use './hero.scss';
@use './content.scss';

main {
    padding-bottom: 1em;
}

.d-none {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.contact {
    padding: 1.5em 1em;
    padding-bottom: 0.5em;
}

footer {
    position: sticky; bottom: 0;
    width: 100%;
    background-color: #343a40;
    display: flex;
    gap: 1em;
    padding: 0.25em 0;
    word-wrap: break-word;
}

.footer-text {
    padding: 0.1em 0 0 0.5em;
    color: #9fadb9;
}

.footer-link {
    padding-top: 0.1em;
    text-decoration: none;
    background-color: transparent;
}